<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--
    타임리프는 자바스크립트에서 타임리프를 편리하게 사용할 수 있는 자바스크립트 인라인 기능을 제공한다.
    자바스크립트 인라인 기능은 다음과 같이 <script th:inline="javascript"> 적용하면 된다.
-->

<!-- 자바스크립트 인라인 사용 전 -->
<script>
    let username = [[${user.username}]];
    let age = [[${user.age}]];

    //자바스크립트 내추럴 템플릿
    let username2 = /*[[${user.username}]]*/ "test username";

    //객체
    let user = [[${user}]]; /* 인라인 사용 전은 객체의 toString()이 호출된 값 */
</script>

<!-- 자바스크립트 인라인 사용 후 -->
<script th:inline="javascript">
    let username = [[${user.username}]]; /* 자동 텍스트 렌더링, 인라인 사용 후 렌더링 결과를 보면 문자 타입인 경우 " 를 포함해준다.
                                            추가로 자바스크립트에서 문제가 될 수 있는 문자가 포함되어 있으면 이스케이프 처리도 해준다. */
    let age = [[${user.age}]];

    //자바스크립트 내추럴 템플릿
    let username2 = /*[[${user.username}]]*/ "test username"; /* 자바스크립트 인라인 기능을 사용하면 주석을 활용해서 이 기능을 사용할 수 있다. */

    //객체
    let user = [[${user}]]; /* 객체를 JSON으로 자동으로 변환해준다. */
</script>

<!-- 자바스크립트 인라인 each -->
<script th:inline="javascript">
    [# th:each="user, stat : ${users}"]
    var user[[${stat.count}]] = [[${user}]];
    [/]
</script>

</body>
</html>