<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>

<h1>타임리프 스프링 통합</h1>
<ul>타임리프는 크게 2가지 메뉴얼을 제공한다.
    <li><a href="https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html">기본 메뉴얼</a></li>
    <li><a href="https://www.thymeleaf.org/doc/tutorials/3.0/thymeleafspring.html">스프링 통합 메뉴얼</a></li>
</ul>
<div>타임리프는 스프링 없이도 동작하지만, 스프링과 통합을 위한 다양한 기능을 편리하게 제공한다. 그리고 이런 부분은 스
    프링으로 백엔드를 개발하는 개발자 입장에서 타임리프를 선택하는 하나의 이유가 된다.</div>

<br>

<h2>스프링 통합으로 추가되는 기능들</h2>
<ul>
    <li>스프링의 SpringEL 문법 통합</li>
    <li>`${@myBean.doSomething()}` 처럼 스프링 빈 호출 지원</li>
    <li>편리한 폼 관리를 위한 추가 속성
        <ul>
            <li>`th:object` (기능 강화, 폼 커맨드 객체 선택)</li>
            <li>`th:field` , `th:errors` , `th:errorclass`</li>
        </ul>
    </li>
    <li>폼 컴포넌트 기능
        <ul>
            <li>checkbox, radio button, List 등을 편리하게 사용할 수 있는 기능 지원</li>
        </ul>
    </li>
    <li>스프링의 메시지, 국제화 기능의 편리한 통합</li>
    <li>스프링의 검증, 오류 처리 통합</li>
    <li>스프링의 변환 서비스 통합(ConversionService)</li>
</ul>

<br>

<h2>설정 방법</h2>
<ul>타임리프 템플릿 엔진을 스프링 빈에 등록하고, 타임리프용 뷰 리졸버를 스프링 빈으로 등록하는 방법
    <li><a href="https://www.thymeleaf.org/doc/tutorials/3.0/thymeleafspring.html#the-springstandard-dialect">Thymeleaf + Spring</a></li>
    <li><a href="https://www.thymeleaf.org/doc/tutorials/3.0/thymeleafspring.html#views-and-view-resolvers">뷰 리졸버를 스프링 빈으로 등록하는 방법</a></li>
    <li><a href="https://docs.spring.io/spring-boot/docs/current/reference/html/appendix-applicationproperties.html#common-application-properties-templating">스프링 부트가 제공하는 타임리프 설정(thymeleaf 검색 필요)</a></li>
</ul>

</body>
</html>